@model IEnumerable<L01P02_2020_SM_602_2020_ML_601_RESTAURANTE.Models.pedidos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.motoristald)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.platold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.motoristald)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.platold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pedidold">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pedidold">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pedidold">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
